mss==10.2.0
numpy==2.5.3
pillow==12.3.0
pynput==1.8.2
pyobjc-core==12.2.2
pyobjc-framework-ApplicationServices==12.2.2
pyobjc-framework-Cocoa==12.2.2
pyobjc-framework-CoreText==12.2.2
pyobjc-framework-Quartz==12.2.2
six==1.17.0
